### :warning: Your intake form did not pass validation :warning:

Please edit the issue body above to fix the following problems and the
validation will re-run automatically.

<!--prettier-ignore-start-->
<!--markdownlint-disable MD032-->

{{#each errors}}
- {{this}}
{{/each}}

<!--prettier-ignore-end-->

Only validated project information can be checked for eligibility.
