### Ready for Eligibility Review :zap:

Qualified SCF members will now discuss and determine whether this project is
eligible to submit a formal proposal for the SCF Public Goods Award. Keep an
eye on this issue thread, and please answer any questions swiftly.

The discussion period lasts a minimum of 7 days. There is no guarantee that
this project can make it into the next upcoming Award round.

You may edit your project information during the `in-review` process step.
We encourage you to incorporate clarifications directly in the issue body
— after answering the question in a comment — so SCF members do not need to
read the whole thread to get the latest information.
